{
	"openapi": "3.1.0",
	"info": {
		"title": "FreeTicket B2B API",
		"version": "1.7.0",
		"description": "API REST B2B de FreeTicket para integraciones y el CLI. Autenticación por API key (header `Authorization: Bearer <key>` o `x-api-key`); el workspace activo se selecciona con el header `X-Workspace-Id`.\n\nAlcances (scopes): cada key es `read` (solo GET/HEAD) o `write` (además crea, edita, borra, cancela, reembolsa y hace check-in). Las keys emitidas por autoservicio nacen `read`. Una key `read` contra un método mutante responde 403. La declaración legible por máquina está en `/.well-known/oauth-protected-resource` (RFC 9728)."
	},
	"servers": [
		{
			"url": "https://admin.appfreeticket.com/api/v1"
		}
	],
	"security": [
		{
			"apiKey": []
		},
		{
			"apiKeyHeader": []
		}
	],
	"paths": {
		"/events/{id}/dates": {
			"get": {
				"operationId": "getEventsIdDates",
				"tags": ["events"],
				"summary": "Listar fechas de un evento",
				"description": "Rol mínimo: `VIEWER`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/EventDate"
											}
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			},
			"post": {
				"operationId": "postEventsIdDates",
				"tags": ["events"],
				"summary": "Agregar fecha a un evento",
				"description": "Rol mínimo: `ADMIN`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/EventDateCreate"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/EventDate"
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/auth/device/code": {
			"post": {
				"operationId": "postAuthDeviceCode",
				"tags": ["auth"],
				"summary": "Inicia el Device Authorization Grant (RFC 8628)",
				"description": "Endpoint público (sin auth): bootstrap de credenciales del Device Authorization Grant (RFC 8628).",
				"security": [],
				"responses": {
					"200": {
						"description": "Flujo iniciado: device_code (lo poll-ea el CLI) + user_code (lo aprueba el usuario en el browser).",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/DeviceCodeResponse"
								}
							}
						}
					},
					"429": {
						"description": "Demasiadas solicitudes desde la misma IP (anti-flood).",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"503": {
						"description": "No se pudo generar un device_code/user_code único tras reintentar (colisión persistente).",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/auth/device/token": {
			"post": {
				"operationId": "postAuthDeviceToken",
				"tags": ["auth"],
				"summary": "Poll del CLI: canjea el device_code por una API key al aprobar",
				"description": "Endpoint público (sin auth): bootstrap de credenciales del Device Authorization Grant (RFC 8628).",
				"security": [],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/DeviceTokenRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Aprobado: entrega la API key ft_live_… una sola vez y consume la fila.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/DeviceTokenResponse"
								}
							}
						}
					},
					"400": {
						"description": "Estado RFC 8628: authorization_pending | slow_down | expired_token | access_denied | invalid_request.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/DeviceTokenError"
								}
							}
						}
					}
				}
			}
		},
		"/me": {
			"get": {
				"operationId": "getMe",
				"tags": ["me"],
				"summary": "Usuario autenticado, rol y workspaces accesibles",
				"description": "Rol mínimo: `VIEWER`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/Me"
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/events": {
			"get": {
				"operationId": "getEvents",
				"tags": ["events"],
				"summary": "Listar eventos del workspace",
				"description": "Rol mínimo: `VIEWER`. Workspace activo vía header `X-Workspace-Id`. Cada evento embebe `nextDate` (su función más próxima, o null), para no requerir `/events/{id}/dates` por evento al renderizar un catálogo.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "limit",
						"in": "query",
						"required": false,
						"description": "1-100, default 20",
						"schema": {
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "cursor",
						"in": "query",
						"required": false,
						"description": "id del último resultado de la página previa",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "q",
						"in": "query",
						"required": false,
						"description": "Búsqueda por nombre/descripción, insensible a mayúsculas y acentos",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "status",
						"in": "query",
						"required": false,
						"description": "Filtra por estado (DRAFT | PUBLISHED | SOLD_OUT | CANCELLED | COMPLETED). Se aplica en la consulta, así `limit` cuenta solo filas devueltas.",
						"schema": {
							"type": "string",
							"enum": [
								"DRAFT",
								"PUBLISHED",
								"SOLD_OUT",
								"CANCELLED",
								"COMPLETED"
							]
						}
					},
					{
						"name": "withTotal",
						"in": "query",
						"required": false,
						"description": "`1` para incluir `page.total` (count sobre el mismo filtro). Opt-in: sin él no se paga la consulta extra.",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Event"
											}
										},
										"page": {
											"$ref": "#/components/schemas/Page"
										}
									},
									"required": ["data", "page"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			},
			"post": {
				"operationId": "postEvents",
				"tags": ["events"],
				"summary": "Crear evento",
				"description": "Rol mínimo: `ADMIN`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/EventCreate"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/Event"
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"409": {
						"description": "Conflicto: el recurso no admite la operación en su estado actual.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/events/{id}": {
			"get": {
				"operationId": "getEventsId",
				"tags": ["events"],
				"summary": "Obtener un evento",
				"description": "Rol mínimo: `VIEWER`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/Event"
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			},
			"patch": {
				"operationId": "patchEventsId",
				"tags": ["events"],
				"summary": "Actualizar evento",
				"description": "Rol mínimo: `ADMIN`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/EventUpdate"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/Event"
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteEventsId",
				"tags": ["events"],
				"summary": "Eliminar (soft) evento",
				"description": "Rol mínimo: `ADMIN`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/events/{id}/publish": {
			"post": {
				"operationId": "postEventsIdPublish",
				"tags": ["events"],
				"summary": "Publicar evento",
				"description": "Rol mínimo: `ADMIN`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/Event"
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"409": {
						"description": "Conflicto: el recurso no admite la operación en su estado actual.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/events/{id}/dates/{dateId}": {
			"patch": {
				"operationId": "patchEventsIdDatesDateId",
				"tags": ["events"],
				"summary": "Actualizar fecha",
				"description": "Rol mínimo: `ADMIN`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "dateId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/EventDateUpdate"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/EventDate"
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteEventsIdDatesDateId",
				"tags": ["events"],
				"summary": "Eliminar fecha",
				"description": "Rol mínimo: `ADMIN`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "dateId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/ticket-types": {
			"get": {
				"operationId": "getTicketTypes",
				"tags": ["ticket-types"],
				"summary": "Listar tipos de ticket del workspace",
				"description": "Rol mínimo: `VIEWER`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "eventDateId",
						"in": "query",
						"required": false,
						"description": "filtra por fecha de evento",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "limit",
						"in": "query",
						"required": false,
						"description": "1-100, default 20",
						"schema": {
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "cursor",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/TicketType"
											}
										},
										"page": {
											"$ref": "#/components/schemas/Page"
										}
									},
									"required": ["data", "page"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			},
			"post": {
				"operationId": "postTicketTypes",
				"tags": ["ticket-types"],
				"summary": "Crear tipo de ticket",
				"description": "Rol mínimo: `ADMIN`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TicketTypeCreate"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/TicketType"
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/ticket-types/{id}": {
			"get": {
				"operationId": "getTicketTypesId",
				"tags": ["ticket-types"],
				"summary": "Obtener un tipo de ticket",
				"description": "Rol mínimo: `VIEWER`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/TicketType"
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			},
			"patch": {
				"operationId": "patchTicketTypesId",
				"tags": ["ticket-types"],
				"summary": "Actualizar tipo de ticket",
				"description": "Rol mínimo: `ADMIN`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TicketTypeUpdate"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/TicketType"
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteTicketTypesId",
				"tags": ["ticket-types"],
				"summary": "Eliminar (soft) tipo de ticket",
				"description": "Rol mínimo: `ADMIN`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/sales": {
			"get": {
				"operationId": "getSales",
				"tags": ["sales"],
				"summary": "Listar ventas del workspace",
				"description": "Rol mínimo: `VIEWER`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "status",
						"in": "query",
						"required": false,
						"description": "PENDING|CONFIRMED|ABANDONED|CANCELLED|REFUNDED",
						"schema": {
							"type": "string",
							"enum": [
								"PENDING",
								"CONFIRMED",
								"ABANDONED",
								"CANCELLED",
								"REFUNDED"
							]
						}
					},
					{
						"name": "channel",
						"in": "query",
						"required": false,
						"description": "WEB|MOBILE|POS|ADMIN",
						"schema": {
							"type": "string",
							"enum": ["WEB", "MOBILE", "POS", "ADMIN"]
						}
					},
					{
						"name": "event",
						"in": "query",
						"required": false,
						"description": "id del evento",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "eventDate",
						"in": "query",
						"required": false,
						"description": "id de la fecha del evento",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "reference",
						"in": "query",
						"required": false,
						"description": "referencia/código de la venta (parcial)",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "buyer",
						"in": "query",
						"required": false,
						"description": "nombre o email del comprador (parcial)",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "from",
						"in": "query",
						"required": false,
						"description": "fecha desde (ISO 8601, sobre created_at)",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "to",
						"in": "query",
						"required": false,
						"description": "fecha hasta (ISO 8601, sobre created_at)",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "limit",
						"in": "query",
						"required": false,
						"description": "1-100, default 20",
						"schema": {
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "cursor",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Sale"
											}
										},
										"page": {
											"$ref": "#/components/schemas/Page"
										}
									},
									"required": ["data", "page"]
								}
							}
						}
					},
					"400": {
						"description": "Solicitud inválida: parámetros mal formados.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			},
			"post": {
				"operationId": "postSales",
				"tags": ["sales"],
				"summary": "Crear una venta/orden (cortesías y ventas programáticas)",
				"description": "Rol mínimo: `ADMIN`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SaleCreate"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/SaleDetail"
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/sales/{id}": {
			"get": {
				"operationId": "getSalesId",
				"tags": ["sales"],
				"summary": "Detalle de una venta con sus ítems",
				"description": "Rol mínimo: `STAFF`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/SaleDetail"
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/sales/{id}/cancel": {
			"post": {
				"operationId": "postSalesIdCancel",
				"tags": ["sales"],
				"summary": "Cancelar una venta (bloqueada si el cobro sigue abierto)",
				"description": "Marca la venta como CANCELLED, libera su cupo y suelta las sillas numeradas asociadas. IMPORTANTE: una venta PENDING cobrada con Bold tiene un enlace de pago que puede seguir vivo — el API de Bold nunca marca sus enlaces como vencidos —, así que cancelarla podría dejar al comprador pagado y sin entrada. Antes de cancelar se relee el estado real del cobro: si Bold lo reporta aprobado, responde 409 SALE_PAID_AT_GATEWAY y NO se cancela en ningún caso (esa venta se confirma o se reembolsa). Si el cobro sigue abierto o el estado no se puede leer, responde 409 OPEN_PAYMENT_CONFIRMATION_REQUIRED: verifica en el panel de Bold y repite la llamada con {\"acknowledge_open_payment\": true} para asumir el riesgo de forma explícita. Las ventas de otras pasarelas y las que no tienen un pago iniciado se cancelan sin ese paso.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SaleCancelRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/Sale"
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"409": {
						"description": "Conflicto: el recurso no admite la operación en su estado actual.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/sales/{id}/refund": {
			"post": {
				"operationId": "postSalesIdRefund",
				"tags": ["sales"],
				"summary": "Reembolsar una venta (el movimiento de fondos depende de la pasarela)",
				"description": "Marca la venta como REFUNDED y libera las sillas numeradas asociadas. IMPORTANTE: que el dinero vuelva al comprador depende de la pasarela de pago y del medio usado. Solo las ventas cobradas con Wompi y TARJETA se anulan de verdad contra la pasarela de pago antes de marcarse. En cualquier otro caso este endpoint NO dispara el reembolso real: el dinero NO se devuelve automáticamente y un 200 confirma únicamente el cambio de estado contable. Esos reembolsos deben gestionarse por separado en el panel de la pasarela de pago. Los medios de Wompi sin devolución por API (PSE, Nequi, transferencia Bancolombia) responden 409: hay que devolver la plata en el panel de Wompi y repetir la llamada con {\"acknowledge_manual\": true} para reflejar el estado contable. Un 502 significa que la pasarela rechazó la anulación y la venta sigue CONFIRMED.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SaleRefundRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/Sale"
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"409": {
						"description": "Conflicto: el recurso no admite la operación en su estado actual.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"502": {
						"description": "Error del proveedor externo al completar la operación.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/membership-plans": {
			"get": {
				"operationId": "getMembershipPlans",
				"tags": ["membership-plans"],
				"summary": "Listar planes de membresía del workspace",
				"description": "Rol mínimo: `VIEWER`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "limit",
						"in": "query",
						"required": false,
						"description": "1-100, default 20",
						"schema": {
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "cursor",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/MembershipPlan"
											}
										},
										"page": {
											"$ref": "#/components/schemas/Page"
										}
									},
									"required": ["data", "page"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			},
			"post": {
				"operationId": "postMembershipPlans",
				"tags": ["membership-plans"],
				"summary": "Crear plan de membresía",
				"description": "Rol mínimo: `ADMIN`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/MembershipPlanCreate"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/MembershipPlan"
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/membership-plans/{id}": {
			"get": {
				"operationId": "getMembershipPlansId",
				"tags": ["membership-plans"],
				"summary": "Obtener un plan de membresía",
				"description": "Rol mínimo: `VIEWER`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/MembershipPlan"
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			},
			"patch": {
				"operationId": "patchMembershipPlansId",
				"tags": ["membership-plans"],
				"summary": "Actualizar plan",
				"description": "Rol mínimo: `ADMIN`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/MembershipPlanUpdate"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/MembershipPlan"
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteMembershipPlansId",
				"tags": ["membership-plans"],
				"summary": "Eliminar (soft) plan",
				"description": "Rol mínimo: `ADMIN`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/venues": {
			"get": {
				"operationId": "getVenues",
				"tags": ["venues"],
				"summary": "Listar venues del workspace",
				"description": "Rol mínimo: `VIEWER`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "limit",
						"in": "query",
						"required": false,
						"description": "1-100, default 20",
						"schema": {
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "cursor",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Venue"
											}
										},
										"page": {
											"$ref": "#/components/schemas/Page"
										}
									},
									"required": ["data", "page"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			},
			"post": {
				"operationId": "postVenues",
				"tags": ["venues"],
				"summary": "Crear venue",
				"description": "Rol mínimo: `ADMIN`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/VenueCreate"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/Venue"
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/venues/{id}": {
			"get": {
				"operationId": "getVenuesId",
				"tags": ["venues"],
				"summary": "Obtener un venue",
				"description": "Rol mínimo: `VIEWER`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/Venue"
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			},
			"patch": {
				"operationId": "patchVenuesId",
				"tags": ["venues"],
				"summary": "Actualizar venue",
				"description": "Rol mínimo: `ADMIN`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/VenueUpdate"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/Venue"
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteVenuesId",
				"tags": ["venues"],
				"summary": "Eliminar (soft) venue",
				"description": "Rol mínimo: `ADMIN`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/staff": {
			"get": {
				"operationId": "getStaff",
				"tags": ["staff"],
				"summary": "Listar staff con acceso al workspace",
				"description": "Rol mínimo: `ADMIN`. Workspace activo vía header `X-Workspace-Id`. Con `?workspaceIds=` la paginación por cursor sigue siendo por usuario: `limit` cuenta personas, no filas.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "limit",
						"in": "query",
						"required": false,
						"description": "1-100, default 20",
						"schema": {
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "cursor",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "workspaceIds",
						"in": "query",
						"required": false,
						"description": "Ids de workspace separados por comas (máx. 25). Devuelve el staff de todos ellos en una sola llamada, con cada fila etiquetada con `workspaceId`/`workspaceName` (una fila por persona y workspace). Se intersecta siempre contra los workspaces que la credencial ya puede administrar: nunca amplía su alcance. Sin el parámetro, se lista el workspace del header `X-Workspace-Id`.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/StaffUser"
											}
										},
										"page": {
											"$ref": "#/components/schemas/Page"
										}
									},
									"required": ["data", "page"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			},
			"post": {
				"operationId": "postStaff",
				"tags": ["staff"],
				"summary": "Crear usuario staff en el workspace",
				"description": "Rol mínimo: `ADMIN`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/StaffCreate"
							}
						}
					}
				},
				"responses": {
					"201": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/StaffUser"
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"409": {
						"description": "Conflicto: el recurso no admite la operación en su estado actual.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"429": {
						"description": "Demasiadas solicitudes: límite de tasa excedido.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/staff/{id}/role": {
			"patch": {
				"operationId": "patchStaffIdRole",
				"tags": ["staff"],
				"summary": "Cambiar rol de un usuario staff",
				"description": "Rol mínimo: `ADMIN`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/RoleUpdate"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/StaffUser"
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"409": {
						"description": "Conflicto: el recurso no admite la operación en su estado actual.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/reports/summary": {
			"get": {
				"operationId": "getReportsSummary",
				"tags": ["reports"],
				"summary": "KPIs del workspace (revenue, tickets, ventas, membresías)",
				"description": "Rol mínimo: `VIEWER`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "period",
						"in": "query",
						"required": false,
						"description": "7d | 30d (default) | 90d | 1y",
						"schema": {
							"type": "string",
							"enum": ["7d", "30d", "90d", "1y"],
							"default": "30d"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/ReportSummary"
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/reports/inventory": {
			"get": {
				"operationId": "getReportsInventory",
				"tags": ["reports"],
				"summary": "Inventario agregado por evento/fecha/tipo (capacidad, vendidos, disponibles)",
				"description": "Rol mínimo: `VIEWER`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "eventId",
						"in": "query",
						"required": false,
						"description": "Filtra por evento",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "eventDateId",
						"in": "query",
						"required": false,
						"description": "Filtra por fecha del evento",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "from",
						"in": "query",
						"required": false,
						"description": "Inicio de función ≥ (ISO 8601)",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "to",
						"in": "query",
						"required": false,
						"description": "Inicio de función ≤ (ISO 8601)",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "includeDrafts",
						"in": "query",
						"required": false,
						"description": "Incluir eventos/fechas en DRAFT (default false)",
						"schema": {
							"type": "boolean",
							"default": false
						}
					},
					{
						"name": "groupBy",
						"in": "query",
						"required": false,
						"description": "event | date | ticketType (default)",
						"schema": {
							"type": "string",
							"enum": ["event", "date", "ticketType"],
							"default": "ticketType"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/InventoryRow"
											}
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/reports/reconciliation": {
			"get": {
				"operationId": "getReportsReconciliation",
				"tags": ["reports"],
				"summary": "Conciliación financiera CFO (MP ↔ venta ↔ factura Siigo)",
				"description": "Rol mínimo: `ADMIN`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "date_from",
						"in": "query",
						"required": true,
						"description": "ISO 8601 (inicio, sobre Sale.created_at)",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "date_to",
						"in": "query",
						"required": true,
						"description": "ISO 8601 (fin)",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "match_status",
						"in": "query",
						"required": false,
						"description": "Filtra por flag: OK|MISSING_INVOICE|MISSING_CUFE|AMOUNT_MISMATCH|MISSING_PAYMENT",
						"schema": {
							"type": "string",
							"enum": [
								"OK",
								"MISSING_INVOICE",
								"MISSING_CUFE",
								"AMOUNT_MISMATCH",
								"MISSING_PAYMENT"
							]
						}
					},
					{
						"name": "provider",
						"in": "query",
						"required": false,
						"description": "Filtra por payment_provider (ej: mercadopago)",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "page",
						"in": "query",
						"required": false,
						"description": "Página 1-based (default 1)",
						"schema": {
							"type": "integer",
							"default": 1
						}
					},
					{
						"name": "page_size",
						"in": "query",
						"required": false,
						"description": "Tamaño de página 1..500 (default 100)",
						"schema": {
							"type": "integer",
							"default": 100
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/ReconciliationRow"
											}
										}
									},
									"required": ["data"]
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/reports/exports/reconciliation": {
			"get": {
				"operationId": "getReportsExportsReconciliation",
				"tags": ["reports"],
				"summary": "Export CSV de la conciliación financiera CFO",
				"description": "Rol mínimo: `ADMIN`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "date_from",
						"in": "query",
						"required": true,
						"description": "ISO 8601 (inicio, sobre Sale.created_at)",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "date_to",
						"in": "query",
						"required": true,
						"description": "ISO 8601 (fin)",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "match_status",
						"in": "query",
						"required": false,
						"description": "Filtra por flag: OK|MISSING_INVOICE|MISSING_CUFE|AMOUNT_MISMATCH|MISSING_PAYMENT",
						"schema": {
							"type": "string",
							"enum": [
								"OK",
								"MISSING_INVOICE",
								"MISSING_CUFE",
								"AMOUNT_MISMATCH",
								"MISSING_PAYMENT"
							]
						}
					},
					{
						"name": "provider",
						"in": "query",
						"required": false,
						"description": "Filtra por payment_provider (ej: mercadopago)",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/reports/exports/attendees": {
			"get": {
				"operationId": "getReportsExportsAttendees",
				"tags": ["reports"],
				"summary": "Export de asistentes por ticket con filtros (máx 5000)",
				"description": "Rol mínimo: `ADMIN`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "event",
						"in": "query",
						"required": false,
						"description": "Filtra por Event.id",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "eventDate",
						"in": "query",
						"required": false,
						"description": "Filtra por EventDate.id",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "from",
						"in": "query",
						"required": false,
						"description": "ISO 8601 — desde (sobre Sale.created_at)",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "to",
						"in": "query",
						"required": false,
						"description": "ISO 8601 — hasta (sobre Sale.created_at)",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "status",
						"in": "query",
						"required": false,
						"description": "PENDING|CONFIRMED|ABANDONED|CANCELLED|REFUNDED (default CONFIRMED)",
						"schema": {
							"type": "string",
							"enum": [
								"PENDING",
								"CONFIRMED",
								"ABANDONED",
								"CANCELLED",
								"REFUNDED"
							]
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
						"description": "Validación del cuerpo/parámetros.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					}
				}
			}
		},
		"/reports/exports/buyers": {
			"get": {
				"operationId": "getReportsExportsBuyers",
				"tags": ["reports"],
				"summary": "Export de compradores con filtros (máx 5000)",
				"description": "Rol mínimo: `ADMIN`. Workspace activo vía header `X-Workspace-Id`.",
				"security": [
					{
						"apiKey": []
					},
					{
						"apiKeyHeader": []
					}
				],
				"parameters": [
					{
						"name": "event",
						"in": "query",
						"required": false,
						"description": "Filtra por Event.id",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "eventDate",
						"in": "query",
						"required": false,
						"description": "Filtra por EventDate.id",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "from",
						"in": "query",
						"required": false,
						"description": "ISO 8601 — desde (sobre Sale.created_at)",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "to",
						"in": "query",
						"required": false,
						"description": "ISO 8601 — hasta (sobre Sale.created_at)",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "status",
						"in": "query",
						"required": false,
						"description": "PENDING|CONFIRMED|ABANDONED|CANCELLED|REFUNDED (default CONFIRMED)",
						"schema": {
							"type": "string",
							"enum": [
								"PENDING",
								"CONFIRMED",
								"ABANDONED",
								"CANCELLED",
								"REFUNDED"
							]
						}
					},
					{
						"name": "X-Workspace-Id",
						"in": "header",
						"required": false,
						"description": "Workspace activo a operar. Opcional: sin él, se usa el workspace por defecto del usuario dueño de la key (pickActiveOrg).",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "object"
								}
							}
						}
					},
					"401": {
						"description": "Credencial inválida o ausente.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"403": {
						"description": "Rol insuficiente o recurso no accesible.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"404": {
						"description": "Recurso inexistente o fuera de alcance.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								}
							}
						}
					},
					"422": {
[...]
