{
  "openapi": "3.1.0",
  "info": {
    "title": "FreeTicket Public API",
    "version": "0.3.0",
    "description": "API REST pública de FreeTicket para el comprador B2C y sus agentes (CLI/MCP). Sin autenticación: cada endpoint es anónimo y con rate limit estricto. Aislada de los contratos B2B /api/v1 y superadmin /api/admin."
  },
  "servers": [
    {
      "url": "https://admin.appfreeticket.com/api/public"
    }
  ],
  "security": [
    {
      "none": []
    }
  ],
  "paths": {
    "/tickets/{code}/resend": {
      "post": {
        "operationId": "postTicketsCodeResend",
        "tags": [
          "tickets"
        ],
        "summary": "Reenviar el correo con el ticket/QR al comprador (anónimo)",
        "description": "Público (sin auth). Reenvía el email con el QR al correo registrado en la compra. Body opcional `{ email }` que debe coincidir con el del comprador. Devuelve el correo enmascarado, nunca el completo. Rate limit por código (1/min).",
        "security": [],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResendTicketRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ResendTicketResult"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Credencial inválida o ausente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Rol insuficiente o recurso no accesible.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso inexistente o fuera de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validación del cuerpo/parámetros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/events": {
      "get": {
        "operationId": "getEvents",
        "tags": [
          "catalog"
        ],
        "summary": "Catálogo público de eventos (descubrimiento B2C)",
        "description": "Público (sin auth). Lista eventos PUBLISHED con al menos una función futura. Filtros: `q` (texto), `city`, `from`/`to` (ISO 8601), `page`, `pageSize` (≤50), `sort` (date_asc | price_asc | price_desc). Devuelve resumen con precio 'desde' y próxima fecha. Cache-friendly, sin datos personales.",
        "security": [],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Búsqueda por nombre/descripción",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "description": "Filtra por ciudad del venue",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "Funciones desde (ISO 8601)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Funciones hasta (ISO 8601)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Página (default 1)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Tamaño de página (default 20, máx 50)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "date_asc | price_asc | price_desc",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicEventSummary"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Credencial inválida o ausente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Rol insuficiente o recurso no accesible.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso inexistente o fuera de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validación del cuerpo/parámetros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/events/{slug}": {
      "get": {
        "operationId": "getEventsSlug",
        "tags": [
          "catalog"
        ],
        "summary": "Detalle público de un evento por slug",
        "description": "Público (sin auth). Ficha del evento PUBLISHED: descripción, fechas (con venue y ciudad) y precio 'desde'. Para el stock en vivo por tipo de ticket, usar `/events/{slug}/availability`.",
        "security": [],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PublicEventDetail"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Credencial inválida o ausente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Rol insuficiente o recurso no accesible.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso inexistente o fuera de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validación del cuerpo/parámetros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/events/{slug}/availability": {
      "get": {
        "operationId": "getEventsSlugAvailability",
        "tags": [
          "catalog"
        ],
        "summary": "Disponibilidad en vivo por fecha y tipo de ticket",
        "description": "Público (sin auth). Stock en vivo (capacidad - vendido - reservado) por función y tipo de ticket, solo funciones futuras. Consultar antes de crear una orden. No cachear agresivo: el stock cambia.",
        "security": [],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PublicAvailability"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Credencial inválida o ausente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Rol insuficiente o recurso no accesible.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso inexistente o fuera de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validación del cuerpo/parámetros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "post": {
        "operationId": "postOrders",
        "tags": [
          "orders"
        ],
        "summary": "Crear una orden B2C y obtener el link de pago (Mercado Pago)",
        "description": "Público (sin auth). Crea una venta PENDING + reserva de stock (30 min) y devuelve la `checkoutUrl` de Mercado Pago a la que mandar al comprador. El agente NUNCA procesa el pago. Solo admisión general (no numerado / no members-only) de eventos PUBLISHED con venta abierta y de un mismo organizador. Cupo protegido con transacción Serializable. Consultar el estado con `GET /orders/{id}`.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OrderCreated"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Credencial inválida o ausente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Rol insuficiente o recurso no accesible.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso inexistente o fuera de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validación del cuerpo/parámetros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{id}": {
      "get": {
        "operationId": "getOrdersId",
        "tags": [
          "orders"
        ],
        "summary": "Estado de una orden B2C (y tickets al pagar)",
        "description": "Público (sin auth). Estado de la orden: `pending | paid | expired | cancelled`. Al pagar (`paid`) incluye los códigos de ticket emitidos; el QR/entrada llega por email. El id es un cuid no enumerable; no expone datos del comprador.",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OrderStatus"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Credencial inválida o ausente.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Rol insuficiente o recurso no accesible.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Recurso inexistente o fuera de alcance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validación del cuerpo/parámetros.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {}
            },
            "required": [
              "code",
              "message"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "ResendTicketRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
          }
        },
        "additionalProperties": false
      },
      "ResendTicketResult": {
        "type": "object",
        "properties": {
          "sent": {
            "type": "boolean",
            "const": true
          },
          "maskedEmail": {
            "type": "string"
          }
        },
        "required": [
          "sent",
          "maskedEmail"
        ],
        "additionalProperties": false
      },
      "PublicEventSummary": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "coverImageUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "city": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "nextDate": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "priceFrom": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "currency": {
            "type": "string"
          }
        },
        "required": [
          "slug",
          "name",
          "description",
          "coverImageUrl",
          "city",
          "nextDate",
          "priceFrom",
          "currency"
        ],
        "additionalProperties": false
      },
      "PublicTicketType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "price": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "maxPerOrder": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "available": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "soldOut": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "price",
          "currency",
          "maxPerOrder",
          "available",
          "soldOut"
        ],
        "additionalProperties": false
      },
      "PublicEventDate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "startsAt": {
            "type": "string"
          },
          "endsAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "timezone": {
            "type": "string"
          },
          "venueName": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "city": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "label",
          "startsAt",
          "endsAt",
          "timezone",
          "venueName",
          "city"
        ],
        "additionalProperties": false
      },
      "PublicEventDetail": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "coverImageUrl": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "city": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "nextDate": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "priceFrom": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "currency": {
            "type": "string"
          },
          "dates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicEventDate"
            }
          }
        },
        "required": [
          "slug",
          "name",
          "description",
          "coverImageUrl",
          "city",
          "nextDate",
          "priceFrom",
          "currency",
          "dates"
        ],
        "additionalProperties": false
      },
      "PublicAvailability": {
        "type": "object",
        "properties": {
          "slug": {
            "type": "string"
          },
          "dates": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "label": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "startsAt": {
                  "type": "string"
                },
                "endsAt": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "timezone": {
                  "type": "string"
                },
                "venueName": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "city": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "ticketTypes": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicTicketType"
                  }
                }
              },
              "required": [
                "id",
                "label",
                "startsAt",
                "endsAt",
                "timezone",
                "venueName",
                "city",
                "ticketTypes"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "slug",
          "dates"
        ],
        "additionalProperties": false
      },
      "CreateOrderRequest": {
        "type": "object",
        "properties": {
          "buyerEmail": {
            "type": "string",
            "format": "email",
            "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
          },
          "buyerName": {
            "type": "string",
            "minLength": 1
          },
          "buyerPhone": {
            "type": "string"
          },
          "items": {
            "minItems": 1,
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ticketTypeId": {
                  "type": "string"
                },
                "quantity": {
                  "type": "integer",
                  "exclusiveMinimum": 0,
                  "maximum": 50
                }
              },
              "required": [
                "ticketTypeId",
                "quantity"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "buyerEmail",
          "buyerName",
          "items"
        ],
        "additionalProperties": false
      },
      "OrderCreated": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "paid",
              "expired",
              "cancelled"
            ]
          },
          "total": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "checkoutUrl": {
            "type": "string"
          }
        },
        "required": [
          "orderId",
          "reference",
          "status",
          "total",
          "currency",
          "checkoutUrl"
        ],
        "additionalProperties": false
      },
      "OrderTicket": {
        "type": "object",
        "properties": {
          "ticketCode": {
            "type": "string"
          },
          "ticketTypeName": {
            "type": "string"
          }
        },
        "required": [
          "ticketCode",
          "ticketTypeName"
        ],
        "additionalProperties": false
      },
      "OrderStatus": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "paid",
              "expired",
              "cancelled"
            ]
          },
          "total": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "tickets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderTicket"
            }
          }
        },
        "required": [
          "orderId",
          "reference",
          "status",
          "total",
          "currency",
          "tickets"
        ],
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "none": {
        "type": "apiKey",
        "in": "header",
        "name": "X-No-Auth",
        "description": "Contrato público: los endpoints no requieren credenciales."
      }
    }
  }
}
